@import mixin
@import variables

*
	text-decoration: none
	line-height: 140%
	margin: 0
	outline: 0
	font-family: $Font-Utily

h2
	text-align: center
	font-family: $Font-Greenwich
	color: $Color-Black25
	font-weight: 700
	@include fluid-type($Container-M, $Container-L, 26px, 33px)
	@include fluid-type($Container-S, $Container-M, 20px, 26px)

.container
	max-width: calc($Container-L + 40px)
	margin: 0 auto
	padding: 0px 20px
	&--header
		margin: 30px auto 36px
	&--info
		margin-bottom: 113px
	&--integration
		padding: 56px 20px 71px

	@include adaptiveWidth($Container-M)
		max-width: calc($Container-M + 32px)
		padding: 0px 16px
		&--integration
			padding: 28px 16px 50px
	@include adaptiveWidth($Container-S)
		max-width: calc($Container-S + 32px)
		&--integration
			height: 100%
			padding: 25px 12px

.c-button
	outline: 0
	border: 0
	cursor: pointer
	border-radius: 12px
	background: transparent
	outline: none

.c-wrapper
	width: 100%
	&--integration
		background-color: #F5F9FD
	&--features
		background-color: #F5F9FD
	@include adaptiveWidth($Container-M)
		&--hero
			overflow: hidden
			background: linear-gradient(90deg, #6712E4 -1%, #814BC9 60%, #8c4dd600 78%) ,#9566DD
	@include adaptiveWidth($Container-M)
		&--hero
			background: linear-gradient(0deg, #6712E4 0%, #6D3DBB 25%, #6D3DBB 75%, #6712E4 100%) ,#9566DD

/** Шапка сайта **/

.header
	display: flex
	align-items: center
	justify-content: space-between
	&__logo
		width: 100%
		max-width: clamp(89px, 10%,112px)
		max-height: 45px
		height: 100%

	&__buttons
		display: flex
		align-items: center
		gap: 15px

	&__button
		display: flex
		align-items: center
		justify-content: center
		height: 42px
		width: 155px
		border: 1px solid $Color-PaleBlue
		color: $Color-PaleBlue
		font-weight: 700
		transition: .2s

		&--search
			width: 42px
			&:hover, &:focus
				color: $Color-Blue
				border-color: $Color-Blue

		&--request
			color: $Color-Blue
			border-color: $Color-Blue
			&:hover, &:focus
				background-color: $Color-Blue
				color: $Color-White

		&--menu
			display: none
			width: 42px
			&:hover, &:focus
				color: $Color-Blue
				border-color: $Color-Blue

		&--phone
			display: none
			width: 42px
			color: $Color-Blue
			border-color: $Color-Blue

	&__contact
		display: flex
		flex-direction: column
		align-items: flex-end

	&__text
		font-weight: 700
		&--number
			color: $Color-Black25
			@include fluid-type($Container-M, $Container-L, 18px, 22px)
			@include fluid-type($Container-S, $Container-M, 22px, 22px)

		&--mail
			color: $Color-Blue
			@include fluid-type($Container-M, $Container-L, 12px, 16px)
			@include fluid-type($Container-S, $Container-M, 16px, 16px)

	@include adaptiveWidth($Container-M)
		&__button
			&--menu
				display: flex

		&__contact
			margin-left: auto
			margin-right: 23px

		&__buttons
			margin: 0 auto

	@include adaptiveWidth($Container-S)
		&__buttons
			display: none

		&__button
			&--phone
				display: flex
				margin-right: 11px
				margin-left: auto

		&__contact
			display: none

.header-nav
	display: flex
	gap: min(15px, 35px)

	&__item
		color: $Color-Black22
		font-weight: 500
		transition: .2s
		white-space: nowrap
		@include fluid-type($Container-M, $Container-L, 14px, 18px)

		&:hover, &:focus
			color: $Color-Blue

		&--dropdown
			position: relative
			cursor: default
			&::after
				content: ''
				display: inline-block
				position: absolute
				top: 0
				left: 0
				right: 0
				bottom: -20px

			&:hover, &:focus
				.header-nav__dropdown-list
					transform: scale(1)
					width: 250px
					height: 76px

	&--desktop
		display: flex

	&--mobile
		display: none

	&__dropdown-list
		position: absolute
		display: flex
		flex-direction: column
		top: 30px
		background-color: $Color-White
		padding: 12px 20px
		border: 1px solid $Color-PaleBlue
		z-index: 3
		border-radius: 13px
		transition: .5s
		height: 0
		width: 0
		overflow: hidden
		box-sizing: border-box
		transform: scale(0)
		&:hover
			transform: scale(1)
			width: 100px
			height: 76px

	@include adaptiveWidth($Container-M)
		&--desktop
			display: none
		&--mobile.active
			display: flex

/** Баннер **/

.hero
	position: relative
	display: grid
	grid-template-areas: 'title video' 'subtitle video' 'button video'
	background: linear-gradient(90deg, #6712E4 -1.11%, #814BC9 59.61%, rgba(140, 77, 214, 0) 78.15%), #6712E4
	border-radius: 40px
	padding: 92px min(10% ,100px) 114px
	overflow: hidden

	&__video
		max-height: 544px
		grid-area: video
		position: absolute
		right: -100px
		top: -92px
		bottom: 0
		z-index: 0
		&::before
			content: ''
			display: inline-block
			width: 100px
			backdrop-filter: blur(20px)
			height: 100%
			position: absolute
			padding-top: 100%
			left: -50px
			z-index: 1

	&__title
		color: $Color-White
		font-weight: 700
		grid-area: title
		position: relative
		z-index: 2
		@include fluid-type($Container-M, $Container-L, 48px, 50px )

	&__subtitle
		margin: 11px 0px 34px
		max-width: 321px
		color: $Color-White
		font-weight: 500
		grid-area: subtitle
		position: relative
		z-index: 2
		@include fluid-type($Container-M, $Container-L, 22px, 22px )

	&__button
		width: 272px
		height: 64px
		font-weight: 700
		color: $Color-White
		font-size: 18px
		border-radius: 20px
		position: relative
		grid-area: button
		z-index: 2
		span
			position: relative
			z-index: 1

		&::before, &::after
			border-radius: 20px
			content: ''
			display: block
			position: absolute
			left: 0
			top: 0
			width: 100%
			height: 100%
			transition: .3s

		&::before
			background: linear-gradient(180deg, #FF6AEC 0%, #D626EA 100%)
			box-shadow: inset 0px 4px 16px rgba(255, 255, 255, 0.45)
			transform: scale(0)

		&::after
			background: linear-gradient(180deg, #0085FF 56%, #01E0E2 114%)
			box-shadow: inset 0px 4px 16px rgba(255, 255, 255, 0.45)
			opacity: 1

		&:hover
			&::before
				transform: scale(1)
			&::after
				opacity: 0

	@include adaptiveWidth(1280px)
		&__video
			right: -400px

	@include adaptiveWidth($Container-M)
		padding: 58px min(10% ,54px) 70px
		overflow: visible
		&__title
			@include fluid-type($Container-S, $Container-M, 36px, 48px )
		&__subtitle
			@include fluid-type($Container-S, $Container-M, 18px, 22px )
		&__video
			top: -58px
			bottom: -70px
			right: -300px
			video
				height: 100%
	@include adaptiveWidth($Container-S)
		text-align: center
		background: none
		grid-template-areas: 'title' 'video' 'subtitle' 'button'
		&__subtitle
			max-width: 100%
		&__button
			width: 100%
		&__video
			position: relative
			top: 0
			left: -66px
			right: -66px
			bottom: 0
			width: calc(100% + 132px)
			video
				width: 100%
			&::before
				background: linear-gradient(180deg, #6C3DBA 0%, transparent)
				width: 100%
				height: 100px
				left: 0
				top: -10px
				padding: 0
				backdrop-filter: blur(0)
			&::after
				content: ''
				display: inline-block
				position: absolute
				background: linear-gradient(0deg, #6C3DBA 0%, transparent)
				width: 100%
				height: 100px
				left: 0
				top: unset
				bottom: -10px
				padding: 0
				backdrop-filter: blur(0)

/** Преймущества под баннером	**/	

.pre-features
	display: flex
	justify-content: space-between
	margin: 30px 0px 90px
	&__item
		text-align: center

	&__text
		font-weight: 500
		@include fluid-type($Container-S, $Container-L, 14px , 18px )

	&__animation
		margin: 0 auto
		width: 104px
		height: 104px
		background-color: #fff

	@include adaptiveWidth($Container-M)
		margin: 22px 0px 55px
		&__animation
			width: 86px
			height: 86px
	@include adaptiveWidth($Container-S)
		display: grid
		grid-template-columns: 1fr 1fr
		&__animation
			width: 74px
			height: 74px

/** Информация **/

.info
	&__suptitle
		font-size: 20px
		font-weight: 700
		color: $Color-Purple
		text-align: center
		margin-bottom: 6px
		@include fluid-type($Container-S, $Container-M, 14px, 20px)
	&__title
		text-align: center
		font-family: $Font-Greenwich
		color: $Color-Black25
		&--h3
			margin-bottom: 44px
			font-weight: 600
			@include fluid-type($Container-M, $Container-L, 18px, 24px)
			@include fluid-type($Container-S, $Container-M, 12px, 18px)
	&__buttons
		display: flex
		align-items: center
		flex-wrap: wrap
		justify-content: center
		gap: 15px
		margin: 32px auto 36px
	&__button
		border: 1px solid $Color-PaleBlue
		color: $Color-Blue
		height: 40px
		padding: 0px 20px
		font-weight: 700
		transition: 0.3s
		@include fluid-type($Container-S, $Container-M, 12px, 16px)
		&.active, &:hover, &:focus
			background-color: $Color-Blue
			border-color: $Color-Blue
			color: $Color-White
	&__content
		display: flex
		gap: 64px
		height: 392px
	&__img
		max-width: 588px
		width: 100%
		height: 100%
		border: 1px solid $Color-PaleBlue
		border-radius: 30px
		object-fit: cover
		object-position: center center
	&__column
		display: flex
		max-width: 544px
		width: 100%
		flex-direction: column
		justify-content: space-between
	&__text
		font-size: 18px
		line-height: 160%
		color: $Color-Black25
	&__button-link
		display: flex
		align-items: center
		justify-content: center
		font-weight: 700
		width: 160px
		height: 50px
		color: $Color-Blue
		border: 1px solid $Color-Blue
		transition: 0.3s
		@include fluid-type($Container-S, $Container-M, 14px, 16px)
		&:hover, &:focus
			background-color: $Color-Blue
			border-color: $Color-Blue
			color: $Color-White

	@include adaptiveWidth($Container-M)
		&__title
			&--h3
				margin-bottom: 30px
		&__content
			gap: 40px
			height: auto
			flex-direction: column
		&__img
			max-width: 100%
			height: 401px
		&__column
			max-width: 100%
		&__text
			margin-bottom: 23px
		&__buttons
			margin: 23px auto
	@include adaptiveWidth($Container-S)
		&__title
			&--h3
				margin-bottom: 27px
		&__content
			gap: 23px
		&__buttons
			margin: 18px auto
			gap: 7px
		&__button
			padding: 0px 13px
			height: 26px
			border-radius: 8px
		&__img
			max-height: 243px
		&__text
			font-size: 14px
			line-height: 140%
		&__button-link
			height: 45px
			width: 128px
			margin: 0 auto

/** Интеграция **/

.integration

	&__subtitle
		font-size: 20px
		font-weight: 700
		color: $Color-Black38
		text-align: center
		margin-bottom: 6px
		margin-bottom: 43px
		@include fluid-type($Container-S, $Container-M, 14px, 20px)

	&__title
		margin-bottom: 18px

	&__grid
		display: grid
		grid-template-columns: repeat(6, 1fr)
		grid-template-rows: repeat(2, 125px)
		gap: 14px 16px
		height: auto
	&__item
		display: flex
		align-items: center
		justify-content: center
		border-radius: 12px
		background-color: $Color-White
		width: 100%
		height: 100%

	@include adaptiveWidth($Container-M)
		&__grid
			display: grid
			grid-template-columns: repeat(4, 1fr)
			grid-template-rows: repeat(3, 77px)
			gap: 8px 10px
		&__img
			width: 60%

	@include adaptiveWidth($Container-S)
		&__grid
			display: grid
			grid-template-columns: repeat(3, 1fr)
			grid-template-rows: repeat(4, 68px)

	@include adaptiveWidth(320px)
		&__grid
			display: grid
			grid-template-columns: repeat(2, 1fr)
			grid-template-rows: repeat(6, 68px)

/** Клиенты **/

.client
	margin: 33px 0
	&__title
		margin-bottom: 33px
	&__row
		display: flex
		gap: min(50px,4%)
	&__item
		width: 100%
		border: 1px solid $Color-PaleBlue
		border-radius: 20px
		display: flex
		justify-content: center
		align-items: center
		min-height: 200px
		background-color: $Color-White
	&__img
		width: 40%

	@include adaptiveWidth($Container-M)
		&__row
			gap: 20px
		&__item
			min-height: 120px

	@include adaptiveWidth($Container-M)
		&__row
			gap: 20px
		&__item
			min-height: 63px
		&__img
			height: 33px
			width: auto

/** Преймущества **/

.features
	display: grid
	justify-content: space-between
	padding: 46px 0px 74px
	gap: 20px
	grid-template-columns: repeat(5, 1fr)
	&__wrapper-item
		text-align: center
		background-color: #fff
		border-radius: 30px
		position: relative
		padding-top: 100%

	&__item
		position: absolute
		left: 0
		top: 0
		bottom: 0
		right: 0
		display: flex
		align-items: center
		justify-content: center
		flex-direction: column

	&__text
		font-weight: 500
		@include fluid-type($Container-S, $Container-L, 14px , 18px )

	&__animation
		margin: 0 auto
		width: 104px
		height: 104px
		background-color: palegreen

	@include adaptiveWidth($Container-M)
		grid-template-columns: repeat(3, 1fr)
		gap: 10px
		&__animation
			width: 86px
			height: 86px
	@include adaptiveWidth($Container-S)
		display: grid
		grid-template-columns: 1fr 1fr
		&__animation
			width: 74px
			height: 74px

/** Подвал сайта **/

.footer
	&__logo
		width: 100%
		max-width: clamp(89px, 10%,112px)
		max-height: 45px
		height: 100%
		margin-bottom: 34px

	&__bottom-part
		padding: 16px 0
		border-top: 1px solid $Color-PaleBlue
		.container
			display: flex
			justify-content: space-between

	&__top-part
		display: grid
		grid-template-columns: repeat(3, 1fr) 345px
		margin: 34px 0

	&__column
		display: flex
		flex-direction: column

	&__title
		margin-bottom: 18px
		font-weight: bold
		font-size: 20px
		@include fluid-type($Container-S, $Container-M, 18px, 20px)

	&__link
		color: $Color-Black25
		line-height: 160%
		font-size: 16px
		font-weight: 500
		@include fluid-type($Container-S, $Container-M, 14px, 16px)
		&:hover, &:focus
			color: $Color-Blue

	&__text
		&--address
			font-size: 16px
			font-weight: 500
			color: $Color-Black25
			line-height: 160%

		&--number
			font-weight: 700
			color: $Color-Black25
			line-height: 120%
			@include fluid-type($Container-M, $Container-L, 20px, 22px)

		&--mail
			font-weight: 700
			color: $Color-Blue
			line-height: 160%
			font-size: 16px

		&--bottom
			line-height: 160%
			font-size: 14px
			font-weight: 500
			color: $Color-PaleGray
			@include fluid-type($Container-M, $Container-L, 12px, 14px)

	@include adaptiveWidth($Container-M)
		&__top-part
			grid-template-columns: repeat(3, 1fr)
			grid-template-areas: 'contact menu1 menu2' 'form form form'

		&__column
			&:nth-child(1)
				grid-area: contact

			&:nth-child(2)
				grid-area: menu1

			&:nth-child(3)
				grid-area: menu2

			&:nth-child(4)
				grid-area: form

				.form
					margin-top: 46px
					display: grid
					grid-template-columns: repeat(2, 1fr)
					gap: 20px
					&__button
						margin: 0

					.footer-checkbox__text
						max-width: 100%

	@include adaptiveWidth($Container-S)
		&__logo
			margin-bottom: 30px

		&__top-part
			grid-template-columns: 1fr 1fr
			grid-template-areas: 'contact contact' 'menu1 menu2' 'form form'
			margin: 40px 0px 10px

		&__column
			&:nth-child(1)
				grid-area: contact
				display: flex
				align-items: center
				text-align: center
				margin-bottom: 32px

			&:nth-child(4)
				.form
					margin-top: 40px
					display: flex
					flex-direction: column
					gap: 0
					&__button
						margin: 10px 0px 15px

		&__title
			margin-bottom: 8px

		&__bottom-part
			margin: 14px 0
			.container
				width: auto
				display: flex
				flex-direction: column
				justify-content: center
				align-items: center

.form
	box-sizing: border-box
	width: 100%
	&__input
		box-sizing: border-box
		height: 54px
		width: 100%
		padding: 0px 65px 0px 27px
		border-radius: 10px
		border: 1px solid $Color-PaleBlue
		font-weight: 500
		font-size: 16px
		@include fluid-type($Container-S, $Container-M, 12px, 16px)
		&::placeholder
			color: $Color-PaleBlue

		&:focus
			border-color: $Color-Blue
			box-shadow: 0 0 6px rgba($Color-Blue, 0.36)

	&__label
		display: block
		box-sizing: border-box
		max-height: 54px
		height: 54px
		width: 100%
		position: relative

	&__label-img
		box-sizing: border-box
		position: absolute
		top: 17px
		right: 25px
		color: $Color-PaleBlue

	&__button
		height: 54px
		width: 100%
		background-color: $Color-Purple
		font-size: 20px
		font-weight: 700
		color: $Color-White
		border: 0
		border-radius: 10px
		margin: 10px 0px 20px
		@include fluid-type($Container-S, $Container-M, 14px, 20px)
		&:focus
			box-shadow: 0 0 6px $Color-Purple

.footer-checkbox
	display: flex
	&__input
		opacity: 0
		appearance: none
		width: 0
		height: 0

	&__box
		display: flex
		justify-content: center
		align-items: center
		min-width: 10px
		min-height: 10px
		max-width: 10px
		max-height: 10px
		border-radius: 50%
		border: 1px solid $Color-PaleGray

	&__check
		display: none

	&__text
		font-weight: 500
		font-size: 12px
		line-height: 120%
		margin-left: 10px
		max-width: 203px
		color: $Color-PaleGray

	&__input:checked + &__box > &__check
		display: block

	&__input:focus + &__box
		box-shadow: 0 0 6px $Color-LightBlue

/** Заявка **/

.request
	position: absolute
	right: 0
	top: 0
	z-index: 20
	overflow: hidden
	pointer-events: none
	border-radius: 0 0 0 30px
	&.active
		pointer-events: auto
		box-shadow: 0px 4px 50px $Color-PaleGray
		transition: .3s .5s

		.request-form
			transform: translateX(0)

	@include adaptiveWidth(450px)
		border-radius: 0
.request-form
	position: relative
	top: 0
	right: 0
	display: flex
	flex-direction: column
	padding: 37px 47px 64px 65px
	background-color: $Color-White
	border-radius: 0 0 0 30px
	max-width: 450px
	box-sizing: border-box
	overflow: hidden
	transition: .5s
	transform: translateX(100%)

	&__close
		width: 24px
		height: 24px
		background: transparent
		border: 0
		outline: none
		position: absolute
		right: 17px
		top: 25px
		padding: 0
		transition: .3s
		cursor: pointer
		img
			width: 100%
			height: 100%

		&:hover
			transform: scale(1.2)

	&__title
		text-align: left
		margin-bottom: 28px
		font-size: 24px
		@include fluid-type($Container-S, $Container-M, 18px, 24px)

	&__input
		height: 54px
		padding: 0px 25px
		border-radius: 10px
		border: 1px solid $Color-PaleGray
		font-size: 14px
		margin-bottom: 10px
		&::placeholder
			color: $Color-PaleGray

		&:focus
			border-color: $Color-Blue
			box-shadow: 0 0 6px rgba($Color-Blue, 0.36)

	&__text
		font-size: 12px
		color: $Color-PaleGray
		margin-bottom: 15px
		@include fluid-type($Container-S, $Container-M, 10px, 12px)

	&__button
		height: 54px
		width: 100%
		background-color: $Color-Purple
		font-size: 20px
		font-weight: 700
		color: $Color-White
		border: 0
		border-radius: 10px
		margin: 10px 0px 20px
		@include fluid-type($Container-S, $Container-M, 14px, 20px)
		&:focus
			box-shadow: 0 0 6px $Color-Purple

	@include adaptiveWidth(450px)
		border-radius: 0
		&__title
			text-align: center

/** Мобильная навигация	**/

.nav-mobile
	position: absolute
	right: 0
	top: 0
	z-index: 20
	overflow: hidden
	pointer-events: none
	border-radius: 0 0 0 30px
	max-width: 258px
	width: 100%
	&.active
		pointer-events: auto
		box-shadow: 0px 4px 50px $Color-PaleGray
		transition: .3s .5s
		.header--mobile
			transform: translateX(0)

.header--mobile
	position: relative
	top: 0
	right: 0
	display: flex
	flex-direction: column
	align-items: flex-start
	padding: 65px 33px 30px 33px
	background-color: $Color-White
	border-radius: 0 0 0 30px
	max-width: 258px
	width: 100%
	box-sizing: border-box
	overflow: hidden
	transition: .5s
	transform: translateX(100%)

	.header
		&__close
			width: 24px
			height: 24px
			background: transparent
			border: 0
			outline: none
			position: absolute
			right: 17px
			top: 25px
			padding: 0
			transition: .3s
			cursor: pointer
			img
				width: 100%
				height: 100%

			&:hover
				transform: scale(1.2)

		&__item
			color: $Color-Black22
			font-weight: 500
			transition: .2s
			white-space: nowrap
			img
				transition: .2s
				margin-left: 10px
				transform: rotate(180deg)

			@include fluid-type($Container-M, $Container-L, 14px, 18px)

			&:hover, &:focus
				color: $Color-Blue
				img
					transform: rotate(0deg)

			&--dropdown-mobile
				margin-bottom: 0px !important
				&:focus
					.header__dropdown
						height: 44px

		&__button
			width: 100%
			margin: 14px 0 17px

		&__contact
			display: flex
			text-align: center
			align-items: center
			margin: 0
			width: 100%

		&__text
			&--mobile
				font-size: 16px !important

			&--number
				font-size: 22px !important

		&__item
			margin-bottom: 15px
			&:last-child
				margin-bottom: 0

		&__dropdown
			position: relative
			left: 0
			top: 0
			flex-direction: column
			transform: scale(1)
			border: 0
			height: 0
			width: auto
			padding: 0
			transition: .3s
			margin-top: 10px
			.header__item
				margin: 0
