include assets/includes/head.pug
body
	include assets/includes/header.pug

	main.main.-light 
		.container
			nav.line-nav
				a(href='#')._link Главная
				a(href='#')._link Договор

		.container
			.contract 
				h1._title.-h1.
					ДОГОВОР № 1-ОФ о передаче простого #[br]
					неисключительного права (лицензии)

				._subtitle 
					p._subtitle-text г. Москва 
					p._subtitle-text 05.03.2021 г.

				p._text #[strong Общество с ограниченной ответственностью «Энджойлаб»], в лице Управляющего ИП Чеботарева А.В., действующего на основании Устава (далее - «Лицензиар»), с одной стороны, и любое физическое лицо, а равно юридическое лицо или индивидуальный предприниматель, зарегистрированное в соответствии с законодательством государства, признаваемого Российской Федерацией (далее – «РФ»), в качестве резидента, являющееся участником гражданских правоотношений на территории РФ и (или) выражающее свое согласие на применение права РФ к правам и обязанностям сторон по настоящему Договору, полностью ознакомившееся с настоящим Договором до момента активации Аккаунта и принявшее условия настоящего Договора в порядке, указанном в настоящем Договоре (далее – «Пользователь»), с другой стороны, оценивая настоящий Договор в соответствии с пунктом 2 статьи 437 Гражданского кодекса РФ (далее – «ГК РФ») в качестве публичной оферты Лицензиара для общего доступа в сети «Интернет» и считая настоящий Договор заключенным с момента совершения Пользователем указанных в настоящем Договоре действий по акцепту, считая местом заключения настоящего Договора город Москва, заключили настоящий Договор о нижеследующем:

				h2._title.-h2 1. ПРЕДМЕТ ДОГОВОРА

				p._text 1.1. Лицензиар предоставляет Пользователю за лицензионное вознаграждение, уплачиваемое Пользователем, простое неисключительное право (лицензию) на использование комплексной автоматизированной системы управления типографией для электронных вычислительных машин (далее – «ЭВМ») «Hello Print» как совокупности команд, предназначенных для обеспечения работы компьютерных устройств (далее – «Программа») в целях получения определенного результата, предусмотренного тарифными планами Программы, в порядке и на условиях, предусмотренных настоящим Договором.

				p._text 1.2. Настоящий Договор распространяется на Программу и все улучшения и обновления Программы, предоставляемые в свободный доступ Пользователю по условиям настоящего Договора на неограниченной территории использования Программы.

				p._text 1.3. Оплата Пользователем лицензионного вознаграждения является Акцептом оферты, содержащейся в настоящем Договоре. Совершение Пользователем действия по акцепту оферты означает полное и безоговорочное принятие Пользователем условий настоящего Договора.

				h2._title.-h2 2. ПОНЯТИЯ И ОПРЕДЕЛЕНИЯ

				p._text #[strong 2.1. Программа] – программа для ЭВМ «Hello Print» в виде совокупности команд, предназначенных для обеспечения работы компьютерных устройств в целях получения определенного результата. Программа является интеллектуальной собственностью Лицензиара и защищена законодательством РФ об авторском праве.

				p._text #[strong 2.2. Аккаунт] – учетная идентификационная регистрационная запись Пользователя, полностью определяющая объем данных Пользователя, которые вводятся Пользователем самостоятельно или являются результатом использования Программы.

				p._text #[strong 2.3. Подписка] – приобретение Пользователем прав на эксплуатацию Программы оплатой суммы лицензионного вознаграждения по Тарифным планам.

				p._text #[strong 2.4. Тарифный план] – объем возможностей Программы с указанием сроков и стоимости использования Программы в виде установления размеров лицензионного вознаграждения. Установленные тарифные планы приведены в Приложении № 1 к настоящему Договору.

				p._text #[strong 2.5. Интернет-сайт ]– система программно-аппаратных, технических средств и информации, созданной Лицензиаром для размещения в сети «Интернет» и отображаемой в конкретных текстовых, графических и звуковых формах.

				p._text #[strong 2.6. Сервер Лицензиара] – комплекс компьютеров, управляемый Лицензиаром в целях обеспечения функционирования Программы для Пользователя.

				p._text #[strong 2.7. Панель управления] – интерфейс Пользователя, позволяющий Пользователю регулировать предоставленные Пользователю настройки Программы и предпринимать иные действия в Программе.

				p._text #[strong 2.8. Электронная почта] – для Лицензиара: любой адрес группы sales@enjoylab.ru; для Пользователя: адрес, указанный Пользователем при активации Аккаунта. Доступ к электронной почте обеспечивается сторонами самостоятельно.

				p._text 2.9. Простое неисключительное право на использование Программы - право Пользователя на использование Программы в объеме, оплаченном Тарифным планом Пользователем.

				p._text 2.10. Лицевой счет пользователя – совокупность денежных средств, необходимых для финансовых операций на Аккаунте пользователя.

				h2._title.-h2 3. ПРАВА И ОБЯЗАННОСТИ СТОРОН

				h3._title.-h3 3.1. Пользователь имеет право:

				p._text 3.1.1. Приобрести в порядке и на условиях, предусмотренных настоящим Договором простое неисключительное право на пользование Программой.

				p._text 3.1.2. Отказаться от использования Программы и отменить Подписку в порядке, установленном настоящим Договором.

				p._text 3.1.3. Предоставлять доступ к своему Аккаунту третьему лицу (третьим лицам) на условиях оплаченного Тарифного плана при условии обеспечения Пользователем соблюдения данным третьим лицом запретов, установленных пунктом 3.3 настоящего Договора.

				p._text 3.1.4. Представлять Лицензиару предложения по улучшению и доработке Программы на русском языке.

				p._text 3.1.5. Считать своей собственностью результаты использования Программы Пользователем, включая все виды введенных первичных данных Пользователя.

				p._text 3.1.6. Изменять настройки Программы в пределах, предоставленных Пользователю в Панели управления.

				h3._title.-h3 3.2. Пользователь обязан:

				p._text 3.2.1. Самостоятельно изучить документы и материалы к Программе, размещенные на Интернет-сайте Лицензиара (https://helloprint.ru/).

				p._text 3.2.2. Своевременно оплачивать лицензионное вознаграждение в размере и в сроки, предусмотренные выбранным Тарифным планом Пользователя.

				p._text 3.2.3. Обеспечить сохранность полученных от Лицензиара параметров доступа к Программе с целью защиты от несанкционированного доступа посторонних лиц, не являющихся третьим лицом (третьими лицами), определенным(-и) в соответствии с подпунктом 3.1.3 настоящего Договора.

				p._text 3.2.4. В течение 15 календарных дней принять Акт о предоставлении простой неисключительной лицензии, подписанный в одностороннем порядке, или предоставить мотивированный письменный отказ, в отсутствии которого Акты считаются подписанными, а простая неисключительная лицензия принятой. Форма является стандартной для договора о передаче Лицензиаром простого неисключительного права (лицензии), формируется и выставляется для Пользователя посредством Программы в порядке, предусмотренном настоящим Договором.

				h3._title.-h3 3.3. Пользователю запрещается:

				p._text 3.3.1. Использовать Программу для совершения противоправных действий, в том числе спам-рассылок, отправлений угроз и оскорблений, распространения ложной рекламы, призывов к насилию, отдельных видов информации и материалов, распространяемых посредством информационно-телекоммуникационной сети «Интернет», распространение которых в РФ запрещено, и других.

				p._text 3.3.2. Получать доступ к исходному коду Программы, изучать и редактировать его, а также раскрывать технологические принципы функционирования Программы.

				p._text 3.3.3. Копировать и воспроизводить Программу  или отдельные ее элементы и сохранять Программу на любых носителях с целью передачи третьему лицу (третьим лицам), а также публиковать Программу, предоставляя третьему лицу (третьим лицам) возможность ее копирования.

				p._text 3.3.4. Предоставлять Программу в аренду или в иное временное пользование третьему лицу (третьим лицам) с целью извлечения прибыли Пользователем и (или) третьим лицом (третьими лицами).

				p._text 3.3.5. Пытаться преодолеть технические ограничения, установленные в Программе.

				p._text 3.3.6. Размещать в Программе и (или) с использованием Программы распространять вредоносные программы для ЭВМ (вирусы).

				h3._title.-h3 3.4. Лицензиар имеет право:

				p._text 3.4.1. Блокировать доступ Пользователя к Программе при нарушении Пользователем любых условий настоящего Договора, а также по требованию суда и (или) иных уполномоченных государственных органов РФ. При такой блокировке взимание Лицензионного вознаграждения не производится. По истечении 7 календарных дней Блокировки Аккаунта, активируется автоматическая переадресация Программой запросов данных, поступающих с Интернет-сайта Пользователя на сервер Лицензиара, на URL-адрес, определенный параметрами Программы.

				p._text 3.4.2. Удалять информацию, размещенную Пользователем с использованием Программы, если она нарушает требования законодательства РФ и (или) условия данного Договора, а также в случае запроса третьего лица (третьих лиц), подтверждающих, что размещенная информация нарушает их права.

				p._text 3.4.3. Временно блокировать доступ Пользователя к Программе при образовании задолженности.

				p._text 3.4.4. Удалять Аккаунт Пользователя при неоплате задолженности в течение 14 суток подряд.

				p._text 3.4.5. Требовать от Пользователя дополнительную контактную информацию, а равно о сертификатах и (или) лицензиях, если есть основания считать, что Пользователем не соблюдается законодательство РФ или при поступлении запроса от уполномоченных правоохранительных органов, а при отказе Пользователя предоставить указанную информацию, Лицензиар имеет право ограничить право доступа Пользователя к Программе.

				p._text 3.4.6. Совершенствовать Программу без согласия Пользователя и внедрять различные обновления Программы.

				h3._title.-h3 3.5. Лицензиар обязан:

				p._text 3.5.1. Предоставить в порядке и на условиях, предусмотренных настоящим Договором Пользователю простое неисключительное право на использование Программы.

				p._text 3.5.2. Обеспечить функционирование Программы и допуск Пользователя к Программе.

				p._text 3.5.3. Сообщать Пользователю о существенных обновлениях Программы и об изменениях в условиях передачи прав на использование Программы электронной почтовой рассылкой и (или) публикацией на Интернет-сайте Лицензиара (https://helloprint.ru/) на русском языке.

				p._text 3.5.4. Информировать Пользователя об изменении Тарифных планов посредством электронной почтовой рассылки и (или) публикации на Интернет-сайте Лицензиара (https://helloprint.ru/) на русском языке.

				p._text 3.5.5. На основании заявления Пользователя в течение суток удалить всю информацию об Аккаунте Пользователя с Сервера Лицензиара.

				h2._title.-h2 4. ПОРЯДОК ПЕРЕДАЧИ ПРАВ

				p._text 4.1. Предоставление Лицензиаром Пользователю простого неисключительного права на использование Программы осуществляется в течение одного рабочего дня с момента оплаты Пользователем лицензионного вознаграждения с учетом положения п. 5.4. Право считается переданным Лицензиаром с момента предоставления Пользователю в электронном виде логина и пароля к Аккаунту и после данной передачи право на использование Программы считается полученным Пользователем, если пользователь в течение суток с момента передачи не заявит о наличии ошибок в передачи логина и пароля. Аналогичный порядок действует и в случае снятия с Аккаунта Пользователя блокирования Аккаунта. Передача Программы на материальном носителе Пользователю не производится.

				p._text 4.2. При появлении у Пользователя замечаний к объему предоставленного права на использование Программы Пользователь в течение пяти дней направляет заказное письмо на почтовый адрес Лицензиара с изложением замечаний. Лицензиар рассматривает заявление Пользователя в течение пяти рабочих дней и в случае признания заявления обоснованным устраняет недостатки самостоятельно либо передает Пользователю инструкцию по устранению недостатков самим Пользователем.

				p._text 4.3. Устанавливается следующий порядок оформления передачи простого неисключительного права на Программу для ЭВМ:

				p._text 4.3.1. Акт о предоставлении простого неисключительного права выставляется автоматически на сумму, оплаченную клиентом в момент зачисления денежных средств на лицевой счет клиента (если при оплате не было допущено ошибок).

				p._text 4.3.2. Клиент может просматривать и скачивать Акт о передачи простого неисключительного права в своем личном кабинете (если клиенту требуется оригинал акта, ему необходимо написать запрос в техническую поддержку по адресу электронной почты: sales@enjoylab.ru).

				p._text 4.3.3. Акт о предоставлении простого неисключительного права выставляется только в случае оплаты по безналичному переводу денежных средств на расчетный счет Лицензиара.

				h2._title.-h2 5. РАСЧЕТЫ МЕЖДУ СТОРОНАМИ

				p._text 5.1. Размер лицензионного вознаграждения определяется Пользователем в соответствии с утвержденными Лицензиаром Тарифными планами, приведенными в Приложении № 1.

				p._text 5.2. Пользователь через Панель управления Программы выставляет себе счет на оплату лицензионного вознаграждения.

				p._text 5.3. При поступлении денежных средств на расчетный счет Лицензиара, в течение одного рабочего дня, автоматически (если нет ошибок) выставляется акт на поступившую сумму на расчетный счет Лицензиара и Пользователю выставляется односторонний акт, который отображается в личном кабинете Пользователя.

				h3._title.-h3 5.4. Лицензионное вознаграждение считается оплаченным:

				p._text 5.4.1. На следующий день с даты зачисления денежных средств Пользователя на расчетный счет Лицензиара в случае, если Пользователь является резидентом.

				p._text 5.4.2. От 2 (двух) рабочих дней с даты зачисления денежных средств Пользователя на расчетный счет Лицензиара в случае, если Пользователь является нерезидентом. В случае, если платеж совершен в выходной день, то средства будут зачислены на следующий рабочий день.

				p._text 5.5. Пользователь может оплатить авансовыми платежами пользование правом на будущие периоды.

				p._text 5.6. Все расчеты Сторон по настоящему Договору производятся в рублях РФ.

				p._text 5.7. Лицензионное вознаграждение не облагается НДС на основании подпункта 26 пункта 2 статьи 149 Налогового кодекса РФ.

				p._text 5.8 Пользователь вправе оплачивать лицензионное вознаграждение посредством регулярных автоматических перечислений (автоплатежа) при соблюдении изложенного порядка расчетов, предусмотренного Тарифным планом размера платежа и наличии технической возможности избранной Пользователем системы оплаты. При этом автоматическому перечислению подлежит вся сумма лицензионного вознаграждения за соответствующий период целиком.

				h2._title.-h2 6. ОТВЕТСТВЕННОСТЬ СТОРОН

				p._text 6.1. Стороны несут ответственность за несоблюдение условий настоящего Договора в соответствии с законодательством РФ.

				h3._title.-h3 6.2. Лицензиар не несет ответственности:

				p._text за невозможность использования Программы Пользователем по причинам, не зависящим от Лицензиара;

				p._text за результат использования и (или) полезность для Пользователя прав на использование Программы;

				p._text за качество доступа Пользователя к Программе через сеть «Интернет»,

				p._text за деятельность третьих лиц - посредников, предоставляющих услуги по обеспечению информационного и технологического взаимодействия между Лицензиаром и Пользователем при осуществлении расчетов по оплате лицензионного вознаграждения.

				h3._title.-h3 6.3. Пользователь несет ответственность:

				p._text за любые самостоятельные свои действия и действия третьего лица (третьих лиц) в Программе, которым Пользователь предоставил доступ к Программе, в том числе по работе с настройкой, шаблонами и данными Программы;

				p._text за порядок ведения своих операций с использованием Программы;

				p._text за сохранность параметров доступа Пользователя к Программе и за убытки, которые могут быть причинены вследствие несанкционированного использования его доступа;

				p._text за размещение любых материалов, в том числе рекламы и материалов, являющихся объектом авторского права по законодательству РФ.

				p._text 6.4. Лицензиар не гарантирует возможность исправления результатов самостоятельных действий Пользователя и третьего лица (третьих лиц).

				p._text 6.5. Пользователь самостоятельно принимает решение о необходимости регистрации Пользователя в качестве субъекта предпринимательской деятельности, о формах своей предпринимательской деятельности с использованием Программы и приобретения всех необходимых сертификатов, лицензий, разрешений и других необходимых документов.

				h2._title.-h2 7. УСЛОВИЯ СОБЛЮДЕНИЯ КОНФИДЕНЦИАЛЬНОСТИ

				p._text 7.1. Стороны считают конфиденциальными условия настоящего Договора, а также всю информацию, полученную одной Стороной от другой Стороны при его заключении и исполнении (далее - «Конфиденциальная информация»).

				p._text 7.2. Стороны обязуются не раскрывать, не опубликовывать, не разглашать, не обнародовать и иным способом не предоставлять Конфиденциальную информацию третьему лицу (третьим лицам) без предварительного письменного разрешения каждой Стороны.

				p._text 7.3. Каждая из Сторон предпримет все необходимые меры для защиты Конфиденциальной информации с применением тех же мер, которые Сторона применяет для защиты собственной Конфиденциальной информации.

				p._text 7.4. Каждая из Сторон обязуется ознакомить своих сотрудников с обязательствами по обеспечению сохранности Конфиденциальной информации, которые предусмотрены настоящим Договором в отношении Сторон.

				p._text 7.5. Обязательство по сохранению в тайне Конфиденциальной информации действительно в течении действия настоящего Договора, а также в течении 5 (пяти) лет после дня прекращения действия Договора, если в дальнейшем Сторонами отдельно не будет оговорено иное.

				h2._title.-h2 8. УРЕГУЛИРОВАНИЕ СПОРОВ

				p._text 8.1. Все споры и разногласия, которые могут возникнуть между Сторонами по вопросам, связанным с исполнением настоящего Договора, а равно и все преддоговорные споры (статья 446 ГК РФ), будут разрешаться Сторонами путем переговоров. Переговоры (как в устной, так и в письменной форме) ведутся на русском языке.

				p._text 8.2. В случае, если Стороны не урегулировали споры и разногласия путем переговоров, такие споры и разногласия разрешаются Сторонами в суде по месту нахождения Лицензиара.

				h2._title.-h2 9. ФОРС-МАЖОР

				p._text 9.1. Лицензиар освобождается от ответственности за полное или частичное неисполнение обязательств по настоящему Договору, если такое неисполнение явится следствием действия непреодолимой силы (форс-мажор), то есть чрезвычайных и непредотвратимых Сторонами при данных условиях обстоятельств, в том числе массовых беспорядков, запретительных действий властей, стихийных бедствий, пожаров, катастроф, включая падение воздушного судна или иных летательных аппаратов, либо космических объектов, и других обстоятельств непреодолимой силы, а также:

				p._text Перебоями в электропитании;

				p._text Глобальными перебоями в работе российских и международных сегментов сети «Интернет»;

				p._text Сбоями систем маршрутизации;

				p._text Сбоями в распределенной системе доменных имен;

				p._text Сбоями, вызванными хакерскими и DOS-атаками, а также иными противоправными действиями третьего лица (третьих лиц).

				p._text 9.2. Лицензиар обязуется, в случае наличия технической возможности, по электронной почте уведомить Пользователя о возникновении форс-мажорных обстоятельств в течение 7 (семи) дней с момента их наступления.

				p._text 9.3. Если в результате наступления форс-мажорных обстоятельств Лицензиар будет лишен возможности выполнить свои обязательства по Договору в течение 3-х и более месяцев, то Договор считается расторгнутым без возмещения убытков.

				h2._title.-h2 10. ДЕЙСТВИЕ ДОГОВОРА ВО ВРЕМЕНИ

				p._text 10.1. Датой заключения настоящего Договора является дата совершения Пользователем первой оплаты.

				p._text 10.2. Договор действует в течение 1 (одного) года с момента его заключения. Для целей настоящего Договора год принимается равным 365 (тремстам шестидесяти пяти) дням. В случае, если ни одна из Сторон не уведомила другую Сторону о намерении расторгнуть настоящий Договор, по истечении срока его действия он автоматически продлевается на следующий год. Количество пролонгаций Договора не ограничено.

				p._text 10.3. В случае нарушения Пользователем условий настоящего Договора, в частности: нарушения Пользователем условий об объеме лицензии, а также нарушения Пользователем прав и законных интересов Лицензиара, виновного причинения Пользователем убытков Лицензиару, Лицензиар вправе досрочно расторгнуть Договор и незамедлительно блокировать доступ к Программе с предварительным уведомлением Пользователя не позднее даты Блокировки.

				p._text 10.4. Лицензиар имеет право отказаться от исполнения обязательств по данному Договору, направив уведомление Пользователю не позднее, чем за 60 (шестьдесят) дней до планируемой даты расторжения Договора.

				h2._title.-h2 11. ДОПОЛНИТЕЛЬНЫЕ УСЛОВИЯ

				p._text 11.1. Отношения Сторон по настоящему Договору регулируются действующим законодательством РФ.

				p._text 11.2. Пользователь дает согласие на получение дополнительной информации и информационных рассылок Лицензиара по указанному при регистрации на Интернет-сайте Лицензиара (https://helloprint.ru/) почтовому адресу и телефону. Информация и рассылки могут содержать информацию об изменениях и улучшениях Программы, об изменении Тарифных планов, о других продуктах и услугах, предлагаемых Лицензиаром, анонсы профильных мероприятий Лицензиара.

				p._text 11.3. Лицензиар не гарантирует предоставления простого неисключительного права в случае, если при оплате (при заполнении платежного поручения) были совершены ошибки. Правильность заполнения платежного поручения указана в счете, который выставляется Программой по запросу Пользователя.
	
		.c-wrapper.-requisite
			.container
				.requisite
					h2._title Реквизиты

					._row 
						p._text.-bold ООО «Энджойлаб»
						p._text 
					._row 
						p._text.-bold ОГРН
						p._text 5177746340877

					._row 
						p._text.-bold ИНН
						p._text 7725410127

					._row 
						p._text.-bold КПП
						p._text 772501001

					._row 
						p._text.-bold Юридический адрес
						p._text 115280, г. Москва, ул. Ленинская Слобода, дом 23, стр. 16, офис 7, кабинет 14

					._row 
						p._text.-bold Адрес для переписки
						p._text 115280, г. Москва, ул. Ленинская Слобода, дом 23, стр. 16, офис 7, кабинет 14

					._row 
						p._text.-bold Расчетный счет
						p._text 40702810901300015705

					._row 
						p._text.-bold Банка
						p._text АО «АЛЬФА-БАНК»

					._row 
						p._text.-bold К/с
						p._text 30101810200000000593

					._row 
						p._text.-bold БИК
						p._text 044525593

		.container 
			.contract.-footer
				p._text.
					Электронная почта: #[br]
					Контактный телефон: #[br]
					Управляющий: Индивидуальный предприниматель Чеботарев Андрей Владимирович #[br]

				p._text.
					#[strong Приложение № 1] #[br]
					к Договору о передаче простого неисключительного права (лицензии) № 1-ОФ


	include assets/includes/footer.pug