include assets/includes/head.pug
body
	include assets/includes/header.pug

	main.main.-light
			.c-wrapper.-management-banner 
				.container.-management-banner
					.management-banner 
						h1._title Руководство пользователя облачной системы hello print
				.management-banner__row 
					.container 
						p.management-banner__text Подробное описание интерфейса и возможностей системы
						p.management-banner__text Ответы на самые часто задаваемые вопросы по работе в Hello Print
						p.management-banner__text Пошаговые инструкции выполнения сложных операций в системе

			.container
				.management
					h1._title Руководство пользователя системы hello print
					._column
						img._img(src='https://picsum.photos/600/600')
						._text.-title.-img Руководство пользователя
						._text.-img Описание и пошаговая инструкция по работе с функционалом системы
				
					._column
						h2._title.-h2 Пользуйтесь нашим руководством
						._text.-text18.
							Мы подготовили подробное описание, которое поможет
							в освоении системы Hello Print. Скорее всего, вы сможете
							самостоятельно найти ответ на свой вопрос, заглянув в документацию. #[br]#[br]
							Если не найдете нужный ответ, напишите нам
							в онлайн-чат на сайте. Мы всегда рады помочь!
						
						._text.-title.-documentation Документация включает в себя
						._documentation 
							._documentation-row 
								._text.-medium Руководство
								._text.-text18.-text-documentation подробное описание интерфейса системы
							
							._documentation-row 
								._text.-medium F.A.Q.
								._text.-text18.-text-documentation список наиболее часто задаваемых вопросов по работе системы
							
							._documentation-row 
								._text.-medium Инструкции
								._text.-text18.-text-documentation инструкции по выполнению сложных операций
							
							._documentation-row 
								._text.-medium Обновления
								._text.-text18.-text-documentation список обновлений системы с краткими комментариями
				
						a._button Посмотреть руководство
						

	include assets/includes/footer.pug