
footer.container.-footer 
	.footer 
		._top-part
			._column 
				a(href="#") #[img._logo(src="assets/img/logo.svg", alt="Логотип")]
				p._text.-address г. Москва, ул. Автозаводская, 25
				a(href="tel:+74951285418")._text.-number +7 (495) 128-54-18
				a(href="mailto:sales@helloprint.ru")._text.-mail sales@helloprint.ru
				._socials 
					a(href='https://www.instagram.com/helloprint.ru/')._social-item
						svg(width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg")
							path(d="M11.0025 5.35948C7.88098 5.35948 5.36319 7.87783 5.36319 11C5.36319 14.1222 7.88098 16.6405 11.0025 16.6405C14.1239 16.6405 16.6417 14.1222 16.6417 11C16.6417 7.87783 14.1239 5.35948 11.0025 5.35948ZM11.0025 14.6671C8.98528 14.6671 7.3362 13.0225 7.3362 11C7.3362 8.97746 8.98037 7.33292 11.0025 7.33292C13.0245 7.33292 14.6687 8.97746 14.6687 11C14.6687 13.0225 13.0196 14.6671 11.0025 14.6671V14.6671ZM18.1877 5.12875C18.1877 5.8602 17.5988 6.44438 16.8724 6.44438C16.1411 6.44438 15.5571 5.85529 15.5571 5.12875C15.5571 4.40221 16.146 3.81312 16.8724 3.81312C17.5988 3.81312 18.1877 4.40221 18.1877 5.12875ZM21.9227 6.46402C21.8393 4.70166 21.4368 3.14058 20.146 1.8544C18.8601 0.568225 17.2994 0.165681 15.5374 0.0773179C13.7215 -0.0257726 8.27853 -0.0257726 6.46258 0.0773179C4.70552 0.160772 3.14479 0.563316 1.85399 1.84949C0.56319 3.13567 0.165644 4.69675 0.0773006 6.45911C-0.0257669 8.27547 -0.0257669 13.7196 0.0773006 15.536C0.160736 17.2983 0.56319 18.8594 1.85399 20.1456C3.14479 21.4318 4.70061 21.8343 6.46258 21.9227C8.27853 22.0258 13.7215 22.0258 15.5374 21.9227C17.2994 21.8392 18.8601 21.4367 20.146 20.1456C21.4319 18.8594 21.8344 17.2983 21.9227 15.536C22.0258 13.7196 22.0258 8.28037 21.9227 6.46402V6.46402ZM19.5767 17.4849C19.1939 18.4471 18.4528 19.1883 17.4859 19.5761C16.038 20.1505 12.6025 20.018 11.0025 20.018C9.40245 20.018 5.96196 20.1456 4.51902 19.5761C3.55705 19.1932 2.81595 18.452 2.42822 17.4849C1.85399 16.0367 1.9865 12.6004 1.9865 11C1.9865 9.39964 1.8589 5.95838 2.42822 4.51512C2.81104 3.55294 3.55215 2.81167 4.51902 2.42385C5.96687 1.84949 9.40245 1.98204 11.0025 1.98204C12.6025 1.98204 16.0429 1.8544 17.4859 2.42385C18.4479 2.80676 19.189 3.54803 19.5767 4.51512C20.1509 5.96329 20.0184 9.39964 20.0184 11C20.0184 12.6004 20.1509 16.0416 19.5767 17.4849Z" fill="currentColor")

					a(href='https://vk.com/helloprintru')._social-item
						svg(width="22" height="14" viewBox="0 0 22 14" fill="none" xmlns="http://www.w3.org/2000/svg")
							path(d="M21.4986 0.886246C21.6497 0.375735 21.4986 0 20.7716 0H18.3661C17.7535 0 17.4717 0.322642 17.3206 0.682042C17.3206 0.682042 16.0954 3.66751 14.3637 5.60336C13.8042 6.16288 13.5469 6.34258 13.2406 6.34258C13.0895 6.34258 12.8567 6.16288 12.8567 5.65237V0.886246C12.8567 0.273633 12.6852 0 12.1787 0H8.39687C8.01297 0 7.78426 0.285886 7.78426 0.551351C7.78426 1.13129 8.65009 1.26607 8.73993 2.8997V6.44468C8.73993 7.22066 8.60108 7.3636 8.29477 7.3636C7.47795 7.3636 5.49309 4.36588 4.31687 0.935255C4.08 0.269549 3.84721 0 3.23051 0H0.824984C0.138859 0 0 0.322642 0 0.682042C0 1.31916 0.816816 4.48432 3.80228 8.66642C5.79123 11.5212 8.59291 13.0691 11.1414 13.0691C12.6729 13.0691 12.8608 12.726 12.8608 12.1338C12.8608 9.40564 12.7219 9.14834 13.4897 9.14834C13.845 9.14834 14.4577 9.32804 15.8871 10.7044C17.5207 12.338 17.7903 13.0691 18.7051 13.0691H21.1106C21.7967 13.0691 22.1439 12.726 21.9438 12.048C21.4864 10.6227 18.3947 7.69033 18.2558 7.49429C17.9005 7.03687 18.0026 6.83267 18.2558 6.42426C18.2599 6.42018 21.1964 2.28709 21.4986 0.886246V0.886246Z" fill="currentColor")
					
					a(href='https://www.facebook.com/Hello-Print-115582250372603/')._social-item
						svg(width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg")
							path(d="M22 11.0669C22 4.95335 17.0766 0 11 0C4.92339 0 0 4.95335 0 11.0669C0 16.5906 4.02254 21.1691 9.28125 22V14.2661H6.48689V11.0669H9.28125V8.62864C9.28125 5.85521 10.9224 4.32325 13.436 4.32325C14.6398 4.32325 15.8985 4.53923 15.8985 4.53923V7.26134H14.5111C13.145 7.26134 12.7187 8.11456 12.7187 8.98965V11.0669H15.7695L15.2816 14.2661H12.7187V22C17.9775 21.1691 22 16.5906 22 11.0669Z" fill="currentColor")
			
			._column
				h3._title Разделы
				a(href="#")._link Тарифы
				a(href="#")._link Справка
				a(href="#")._link Контакты
				a(href="#")._link Соглашение
				a(href="#")._link Договор-оферта
			._column
				h3._title Клиентам
				a(href="#")._link Справка 
				a(href="#")._link Видеотур 
			._column
				form(action="URL" method="GET").form
					label._label
						input(type="text" placeholder='Ваш e-mail')._input
						svg(width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg")._label-img
							path(fill-rule="evenodd" clip-rule="evenodd" d="M3 3.75C2.58921 3.75 2.25 4.08921 2.25 4.5V13.5C2.25 13.9108 2.58921 14.25 3 14.25H15C15.4108 14.25 15.75 13.9108 15.75 13.5V4.5C15.75 4.08921 15.4108 3.75 15 3.75H3ZM0.75 4.5C0.75 3.26079 1.76079 2.25 3 2.25H15C16.2392 2.25 17.25 3.26079 17.25 4.5V13.5C17.25 14.7392 16.2392 15.75 15 15.75H3C1.76079 15.75 0.75 14.7392 0.75 13.5V4.5Z" fill="currentColor")
							path(fill-rule="evenodd" clip-rule="evenodd" d="M0.885579 4.06997C1.12312 3.73063 1.59076 3.6481 1.9301 3.88564L9 8.83457L16.0699 3.88564C16.4092 3.6481 16.8769 3.73063 17.1144 4.06997C17.352 4.4093 17.2694 4.87695 16.9301 5.11449L9.4301 10.3645C9.17186 10.5453 8.82815 10.5453 8.56991 10.3645L1.06991 5.11449C0.73057 4.87695 0.648044 4.4093 0.885579 4.06997Z" fill="currentColor")
					button._button Подписаться на новости
					label.footer-checkbox
						input(type='checkbox')._input
						span._box 
							img._check(src="assets/img/check.svg", alt="Галочка")
						span._text Настоящим даю согласие на обработку персональных данных

footer.footer
	._bottom-part
		.container
				p.footer__text.-bottom © 2019 - 2021 helloprint.ru
				p.footer__text.-bottom Продукт компании vea.ru

script(src="https://unpkg.com/swiper@7/swiper-bundle.min.js")
script(src="assets/scripts/script.js") 
