.request 
	form(action='URL' method='POST').request-form
		h2._title Отправить заявку
		button(type='button')._close 
			img(src="assets/img/close.svg", alt="Закрыть")
		input(type="text" placeholder='Ваше имя')._input
		input(type="text" placeholder='Телефон')._input
		input(type="text" placeholder='E-mail')._input
		input(type="text" placeholder='Название компании')._input
		input(type="text" placeholder='Город')._input
		p._text.
			Нажимая кнопку «Отправить», я даю свое согласие на обработку моих персональных данных, в соответствии
			с Федеральным законом от 27.07.2006 года №152-ФЗ
			«О персональных данных», на условиях и для целей, определенных в Согласии на обработку
			персональных данных *
		button._button Отправить

.nav-mobile
	nav.header.-mobile
		button(type='button')._close 
			img(src="assets/img/close.svg", alt="Закрыть")

		._contact
			a(href="tel:+74951285418")._text.-number +7 (495) 128-54-18
			a(href="mailto:sales@helloprint.ru")._text.-mail sales@helloprint.ru
		
		button.c-button._button.-request Оставить заявку
		a._item(href="#") Тарифы
		._item(href="#" tabindex='0').-dropdown-mobile Клиенты 
			img(src="assets/img/dropdown-arrow.svg", alt="Выпадающий список")
			._dropdown.header-nav__dropdown-list.-mobile
				a._item(href="#") Руководство пользователя
				a._item(href="#") Видеотур
		a._item(href="#") Техническая поддержка
		a._item(href="#") Контакты

header.container.-header 
	.header
		a(href="#") #[img._logo(src="assets/img/logo.svg", alt="Логотип")]
		nav.header-nav.-desktop 
			a._item(href="#") Тарифы
			._item(href="#" tabindex='0').-dropdown Клиенты #[img(src="assets/img/dropdown-arrow.svg", alt="Выпадающий список")]
				._dropdown-list
					a._item(href="#") Руководство пользователя
					a._item(href="#") Видеотур
			a._item(href="#") Техническая поддержка
			a._item(href="#") Контакты
		
		._buttons 
			button.c-button._button.-request Оставить заявку
			._search 
				input._search-input(placeholder='Введите запрос')
				button.c-button._button.-search 
					svg(width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg")
						path(fill-rule="evenodd" clip-rule="evenodd" d="M8.25 3.25C5.48858 3.25 3.25 5.48858 3.25 8.25C3.25 11.0114 5.48858 13.25 8.25 13.25C11.0114 13.25 13.25 11.0114 13.25 8.25C13.25 5.48858 11.0114 3.25 8.25 3.25ZM1.25 8.25C1.25 4.38401 4.38401 1.25 8.25 1.25C12.116 1.25 15.25 4.38401 15.25 8.25C15.25 12.116 12.116 15.25 8.25 15.25C4.38401 15.25 1.25 12.116 1.25 8.25Z" fill="currentColor")
						path(fill-rule="evenodd" clip-rule="evenodd" d="M11.7804 11.7804C12.1709 11.3899 12.8041 11.3899 13.1946 11.7804L16.4571 15.0429C16.8476 15.4334 16.8476 16.0666 16.4571 16.4571C16.0666 16.8476 15.4334 16.8476 15.0429 16.4571L11.7804 13.1946C11.3899 12.8041 11.3899 12.1709 11.7804 11.7804Z" fill="currentColor")
		
		._contact
			a(href="tel:+74951285418")._text.-number +7 (495) 128-54-18
			a(href="mailto:sales@helloprint.ru")._text.-mail sales@helloprint.ru
		
		button.c-button._button.-phone 
			svg(width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg")
				path(d="M14.8012 10.6171C14.28 9.63191 12.4703 8.56365 12.3906 8.51694C12.158 8.38457 11.9154 8.3145 11.6883 8.3145C11.3506 8.3145 11.0742 8.46918 10.9068 8.75052C10.6421 9.06716 10.3138 9.43726 10.2341 9.49462C9.61742 9.91299 9.13468 9.8655 8.60055 9.33137L5.61949 6.35005C5.08874 5.8193 5.03995 5.33059 5.45547 4.7173C5.5136 4.6371 5.8837 4.30853 6.20034 4.04354C6.40226 3.92337 6.54085 3.74481 6.60159 3.52576C6.6823 3.2343 6.62287 2.89145 6.43237 2.55743C6.38747 2.4806 5.31869 0.670585 4.334 0.149692C4.15025 0.0523651 3.94314 0.000976562 3.73551 0.000976562C3.39344 0.000976562 3.07161 0.134379 2.82972 0.376009L2.17101 1.03446C1.12923 2.07598 0.752117 3.25662 1.04955 4.54341C1.29767 5.61582 2.02074 6.75701 3.19904 7.93505L7.01555 11.7516C8.50685 13.2429 9.9286 13.9992 11.2413 13.9992C11.2413 13.9992 11.2413 13.9992 11.2416 13.9992C12.2071 13.9992 13.1072 13.5888 13.9161 12.7798L14.5746 12.1214C14.9748 11.7215 15.0656 11.1167 14.8012 10.6171Z" fill="currentColor")
		
		button.c-button._button.-menu 
			svg(width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns="http://www.w3.org/2000/svg")
				rect(x='2' y='4' width='16' height='2' rx='1' fill='currentColor')
				rect(x='2' y='9' width='16' height='2' rx='1' fill='currentColor')
				rect(x='2' y='14' width='16' height='2' rx='1' fill='currentColor')
